body {
    margin:0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    background-image: url(https://cdn.pixabay.com/photo/2018/07/17/12/44/beach-3544075__340.jpg);

    background-size: cover;
    
}

.container {
    background-color: rgba(106,90,205,0.7);
    max-width: 800px;
    min-width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    border: none;
    border-radius: 12px;
}



header {
    background-color: white;
    padding: 0 20px;
}

header div {
    display: inline-block;
    vertical-align: middle;
    
}

.logo-div {
    width: 84%;
    text-align: left;
    margin: 0;
    vertical-align: middle;
}

.fieldset-div {
    width: fit-content;
    text-align: center;
    margin: 0;
    border: 1px solid rgb(56, 52, 178);
    border-radius: 10px;
}

fieldset {
    border: none;
}

.logo {
    min-height: 60px;
    min-width: 60px;
    max-width: 150px;
    max-height: 150px;
}

h1 {
    text-align: center;
    font-size: 50px;
}


.clock{
    display: flex;
    justify-content: center;
}

.clock div{
    margin: 5px;
    position: relative;
}


.clock span{
    width: 60px;
    height: 40px;
    background: rgb(140, 52, 178);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 20px;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: white;
    opacity: 1;
    color: darkblue;
}

.follow {
    align-items: center;
    margin: 0 auto;
}

b {
    font-weight: 800;
    font-size: 30px;
}

button {
    color: slateblue;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

button:hover {
    color: red;
}


p {
    text-align: center;
    font-size: 20px;
}


h3, p {
    text-align: center;
}

h3 {
    background-color: white;
    font-size: 30px;
    color:rgb(140, 52, 178);
    margin: 40px auto 0 auto;
    max-width: 30%;
    min-width: 25%;
    border-radius: 8px;
    
}


img{
    height: 30px;
    width: 35px;
    margin: 10px;
}

.news-letter {
    text-align: center;
    margin-top: 40px;
}

input {
    height: 40px;
    border: none;
    border-radius: 8px;
}

input[type="submit"] {
    margin-left: 0;
    background-color: rgb(140, 52, 178);
    color: #ffffff;
    font-size: 20px;
}
input[type="email"] {
    margin-right: 0;
    min-width: 100px;
    
}

.email .btn {
    display: inline;
}

.footer {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    align-self: center;
     
}

hr {
    margin: 30px 0 0 0;
    border: 1px solid #B9FFFC
}

.top-line {
    margin: 0 0 5px 0;
}

.subscribe {
    color: #B9FFFC;
    font-weight: 400;
}

.description {
    font-weight: 500;
    margin-top: 10px;
    
}

.follow-p {
    text-align: center;
    color: #ffffff;
}

#linkedin-logo {
    height: 40px;
    width: 55px;
    margin-bottom: 5px;
    
}

.contact-info {
    background-color: rgba(106,90,205,0.8);
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    }

    .display-text {
        margin-top: 20px;
        font-size: 20px;
    }

    .close-icon{
        position: absolute;
        top: 195px;
        right: 320px;
        color:rgb(255, 255, 255);
        background-color: rgb(195, 30, 20);
        padding: 4px 10px;
    }

    
    /* If the div has a class of "active", it should have 0 width and 0 height; and its visibility should be hidden */
    .active {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    
