:root {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, hsla(248, 100%, 30%, 0.808), hsla(0, 0%, 0%, 0.824), hsla(248, 100%, 10%, 0.857), hsl(248, 84%, 22%)), url(https://cdn.pixabay.com/photo/2018/07/17/12/44/beach-3544075__340.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    border: none;
    border-radius: 12px;
}

figcaption {
    font-size: 30px;
}

header {
    padding: 0 20px;
    border-radius: 30px;
}

header div {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.logo-div {
    width: 84%;
    text-align: left;
    margin: 0;
}

.fieldset-div {
    width: 15%;
    min-width: 105px;
    text-align: center;
    margin: 0;
    border: 1px solid #2d03aa;
    border-radius: 10px;
}

fieldset {
    border: solid black 1px;
}

.logo {
    scale: 1;
    max-width: 150px;
    max-height: 150px;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10rem auto;
}


.clock {
    display: flex;
    justify-content: center;
}

.clock div {
    margin: 5px;
    position: relative;
}


.clock span {
    width: 60px;
    height: 40px;
    background: rgb(140, 52, 178);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 20px;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: white;
    opacity: 1;
    color: darkblue;
}

.follow {
    align-items: center;
    margin: 0 auto;
}

b {
    font-weight: 800;
    font-size: 30px;
}

button {
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

button:hover {
    color: #B9FFFC;
}




h2 {
    font-size: 3rem;
    color: hsl(282, 55%, 60%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 4px auto 20px auto;
    min-width: 25%;
    border-radius: 8px;
    text-align: center;

}

p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}


img {
    height: 2rem;
    margin: 10px;
}

.news-letter {
    text-align: center;
    margin-top: 40px;
}

input {
    height: 40px;
    border: none;
    border-radius: 8px;
}

input[type="submit"] {
    margin-left: 0;
    background-color: rgb(140, 52, 178);
    color: #ffffff;
    font-size: 20px;
}

input[type="email"] {
    margin-right: 0;
    min-width: 200px;

}

.footer {
    display: flex;
    justify-content: center;
    min-width: 300px;
    margin: 0 auto;
    align-self: center;
    padding: 0 60px 60px 60px
}

footer img {
    filter: invert();
}

hr {
    margin: 30px 0 0 0;
    border: 1px solid #B9FFFC;
}

.top-line {
    margin: 5px;
}

.subscribe {
    color: #B9FFFC;
    font-weight: 400;
}

.description {
    font-weight: 500;
    margin-top: 10px;

}

.follow-p {
    text-align: center;
    color: #ffffff;
}

#linkedin-logo {
    height: 40px;
    width: 55px;
    margin-bottom: 5px;

}

.contact-info {
    background-color: hsla(248, 94%, 6%, 0.527);
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.display-text img {
    filter: invert()
}

.display-text {
    margin-top: 20px;
    font-size: 20px;
}

.close-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(195, 30, 20);
    padding: 4px 10px;
}


/* If the div has a class of "active", it should have 0 width and 0 height; and its visibility should be hidden */
.active {
    width: 0;
    height: 0;
    visibility: hidden;
}